.form_container{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
}

.field_container{
    margin-top: 12px;
}

.forget_password_container{
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.buttons_container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.as_text {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.button{
    margin: 12px;
}