<div style="text-align: center;" class="barra">
  <h5 class="titulo-navbar"><a class="btn btn-outline-info btnlog" [routerLink]="['/home']">Home</a></h5>
  <h5 class="titulo-navbar"><a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']">Alumnos</a></h5>
  <h5 class="titulo-navbar"><a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']">Profesores</a></h5>
  <h5 class="titulo-navbar"><a class="btn btn-outline-info btnlog" [routerLink]="['/home']">Desloguearse</a></h5>
</div>

<div class="col-6 container">
    <div class="border-login">
      <div>
        <h2 class="titulo-login">Crear alumno</h2>
      </div>
      <form
        [formGroup]="crearAlumnoForm"
        (submit)="crearAlumno(crearAlumnoForm)"
        class="loginForm"
      >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="nombre"
            formControlName="nombre"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="apellido"
            formControlName="apellido"
          />
        </div>
        <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="direccion"
              formControlName="direccion"
            />
        </div>
        <div class="form-group">
        <input
            type="email"
            class="form-control"
            placeholder="mail"
            formControlName="mail"
        />
        </div>
        <div class="form-group">
            <input
                type="tel"
                class="form-control"
                placeholder="telefono"
                formControlName="telefono"
            />
        </div>
        <div class="form-group">
          <input
              type="tel"
              class="form-control"
              placeholder="Dni"
              formControlName="dni"
          />
      </div>

        <div class="align-center">
          <button class="btn btn-success" type="submit" >Actualizar</button>
        </div>
        
      </form>
    </div>
</div>