<div style="text-align: center" class="barra">
  <h5 class="titulo-navbar">
    <a class="btn btn-outline-info btnlog" [routerLink]="['/home']">Home</a>
  </h5>
  <h5 class="titulo-navbar">
    <a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']">Alumnos</a>
  </h5>
  <h5 class="titulo-navbar">
    <a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']">Profesores</a>
  </h5>
  <h5 class="titulo-navbar">
    <a class="btn btn-outline-info btnlog" [routerLink]="['/home']">Desloguearse</a>
  </h5>
</div>

<div class="col-6 container">
  <div class="border-login">
    <div>
      <h2 class="titulo-login">Crear usuario</h2>
    </div>
    <form
      [formGroup]="nuevoUsuario"
      (submit)="crearUsuario(nuevoUsuario)"
      class="loginForm"
    >
      <div class="form-group">
        <input
          type="text"
          minlength="3"
          maxlength="16"
          class="form-control"
          placeholder="Nombre"
          formControlName="nombre"
        />
        <div
          *ngIf="
            nuevoUsuario.controls['nombre'].invalid &&
            (nuevoUsuario.controls['nombre'].dirty ||
              nuevoUsuario.controls['nombre'].touched)
          "
        >
          <div
            *ngIf="nuevoUsuario.controls['nombre'].errors.required"
            class="errors"
          >
            Se requiere el nombre
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="text"
          minlength="3"
          maxlength="20"
          class="form-control"
          placeholder="apellido"
          formControlName="apellido"
        />
        <div
          *ngIf="
            nuevoUsuario.controls['apellido'].invalid &&
            (nuevoUsuario.controls['apellido'].dirty ||
              nuevoUsuario.controls['apellido'].touched)
          "
        >
          <div
            *ngIf="nuevoUsuario.controls['apellido'].errors.required"
            class="errors"
          >
            Se requiere el apellido
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          type="eemail"
          minlength="3"
          maxlength="40"
          required
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
        <div
          *ngIf="
            nuevoUsuario.controls['email'].invalid &&
            (nuevoUsuario.controls['email'].dirty ||
              nuevoUsuario.controls['email'].touched)
          "
        >
          <div
            *ngIf="
              nuevoUsuario.controls['email'].errors.pattern ||
              nuevoUsuario.controls['email'].errors.required
            "
            class="errors"
          >
            Por favor ingrese un correo electronico
          </div>
        </div>
      </div>

      <div class="form-group">
        <select formControlName="rol">
          <option *ngFor="let rol of roles">{{ rol }}</option>
        </select>
      </div>
      
      <div class="align-center">
        <button
          class="botonActualizar boton alumno"
          type="submit"
          *ngIf="!nuevoUsuario.invalid"
        >
          <span> Crear Usuario </span>
        </button>
      </div>
    </form>
  </div>
</div>
