<div style="text-align: center" class="barra">
    <h5 class="titulo-navbar">
      <a class="btn btn-outline-info btnlog" [routerLink]="['/home']">Home</a>
    </h5>
    <h5 class="titulo-navbar">
      <a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']"
        >Alumnos</a
      >
    </h5>
    <h5 class="titulo-navbar">
      <a class="btn btn-outline-info btnlog" [routerLink]="['/alumnos']"
        >Profesores</a
      >
    </h5>
    <h5 class="titulo-navbar">
      <a class="btn btn-outline-info btnlog" [routerLink]="['/home']"
        >Desloguearse</a
      >
    </h5>
  </div>
  
  <div class="col-6 container">
    <div class="border-login">
      <div>
        <h2 class="titulo-login">Crear Instituto</h2>
      </div>
      <form
        [formGroup]="institucionForm"
        (submit)="crearInstitucion(institucionForm)"
        class="loginForm"
      >
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="16"
            class="form-control"
            placeholder="Nombre"
            formControlName="nombre"
          />
          <div
            *ngIf="
              institucionForm.controls['nombre'].invalid &&
              (institucionForm.controls['nombre'].dirty ||
                institucionForm.controls['nombre'].touched)
            "
          >
            <div
              *ngIf="institucionForm.controls['nombre'].errors.required"
              class="errors"
            >
              Se requiere el nombre
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="40"
            required
            class="form-control"
            placeholder="Direccion"
            formControlName="direccion"
          />
          <div
            *ngIf="
              institucionForm.controls['direccion'].invalid &&
              (institucionForm.controls['direccion'].dirty ||
                institucionForm.controls['direccion'].touched)
            "
          >
            <div
              *ngIf="institucionForm.controls['direccion'].errors.pattern || institucionForm.controls['direccion'].errors.required"
              class="errors"
            >
              Por favor ingrese una direccion
            </div>          
          </div>
          
          
        </div>
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="13"
            class="form-control"
            placeholder="Cuit"
            formControlName="cuit"
          />
          <div
            *ngIf="
              institucionForm.controls['cuit'].invalid &&
              (institucionForm.controls['cuit'].dirty ||
                institucionForm.controls['cuit'].touched)
            "
          >
            <div
              *ngIf="institucionForm.controls['cuit'].errors.required"
              class="errors"
            >
              Se requiere cuit
            </div>
          </div>

          <div
          *ngIf="
            institucionForm.controls['cuit'].invalid &&
            (institucionForm.controls['cuit'].dirty ||
              institucionForm.controls['cuit'].touched)
          ">
          <div
            *ngIf="institucionForm.controls['cuit'].errors.pattern"
            class="errors"
          >
            El cuit debe estar compuesto como xx-xxxxxxxx-x
          </div>
          
        </div>
        </div>
       
  
        <div class="align-center">
          <button
            class="botonActualizar boton alumno"
            type="submit"
            *ngIf="!institucionForm.invalid"
          >
          <span>Crear</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  