<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-5">
            <form class="form_container" [formGroup]="_form" novalidate (ngSubmit)="_isUpdateMode ? edit() : create()">
                <!-- Name field-->
                <div class="field_container">
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors?.required">
                            Nombre requerido.
                        </div>
                        <div *ngIf="nombre.errors?.minlength">
                            Nombre debe tener al menos 5 caracteres.
                        </div>
                        <div *ngIf="nombre.errors?.maxlength">
                            Nombre debe tener maximo 16 caracteres.
                        </div>
                    </div>
                </div>

                <!-- Description field-->
                <div class="field_container">
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcion">
                    <div *ngIf="descripcion.errors && (descripcion.dirty || descripcion.touched)">
                        <div *ngIf="descripcion.errors?.required">
                            Descripcion requerida.
                        </div>
                        <div *ngIf="descripcion.errors?.minlength">
                            Descripcion debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="descripcion.errors?.maxlength">
                            Descripcion debe tener maximo 128 caracteres.
                        </div>
                    </div>
                </div>

                <!-- Profesor field-->
                <!--
                <div class="field_container">
                    <input type="text" class="form-control" placeholder="CUIT" formControlName="cuit">
                    <div *ngIf="cuit.errors && (cuit.dirty || cuit.touched)">
                        <div *ngIf="cuit.errors?.required">
                            Cuit requerida.
                        </div>
                        <div *ngIf="cuit.errors?.maxlength">
                            Cuit debe tener 11 caracteres.
                        </div>
                    </div>
                </div>
                -->

                <!-- Fecha inicio field-->
                <div class="field_container">
                    <label><strong>Fecha inicio</strong></label>
                    <input type="date" class="form-control" formControlName="fechaInicio"
                        min="{{_minDate | date:'yyyy-MM-dd'}}" useValueAsDate>
                    <div *ngIf="fechaInicio.errors && (fechaInicio.dirty || fechaInicio.touched)">
                        <div *ngIf="fechaInicio.errors?.required">
                            Fecha requerida.
                        </div>
                        <div *ngIf="fechaInicio.errors?.errorMsg">
                            Fecha inicio tiene que ser menor a la fecha fin
                        </div>
                    </div>
                </div>

                <!-- Fecha fin field-->
                <div class="field_container">
                    <label><strong>Fecha fin</strong></label>
                    <input type="date" class="form-control" formControlName="fechaFin"
                        min="{{_maxDate | date:'yyyy-MM-dd'}}" useValueAsDate>
                    <div *ngIf="fechaFin.errors && (fechaFin.dirty || fechaFin.touched)">
                        <div *ngIf="fechaFin.errors?.required">
                            Fecha requerida.
                        </div>
                        <div *ngIf="fechaInicio.errors?.errorMsg">
                            Fecha fin tiene que ser mayor a la fecha inicio
                        </div>
                    </div>
                </div>

                <!-- Estado field-->
                <div class="field_container">
                    <label><strong>Estado</strong></label>
                    <select class="form-control" formControlName="estado">
                        <option *ngFor="let currentEstado of estados;" [value]="currentEstado.id">
                            {{currentEstado.nombre}}
                        </option>
                    </select>
                </div>

                <!-- Institucion field-->
                <div class="field_container">
                    <label><strong>Instituciones</strong></label>
                    <select class="form-control" formControlName="institucion">
                        <option *ngFor="let currentInstitucion of _instituciones;" [value]="currentInstitucion.id">
                            {{currentInstitucion.nombre}}
                        </option>
                    </select>
                </div>

                <!-- Login, register buttons-->
                <div class="buttons_container">
                    <div *ngIf="_isUpdateMode">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="_usingService">
                            Modificar</button>
                    </div>
                    <div *ngIf="!_isUpdateMode">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="_usingService">
                            Crear</button>
                    </div>

                    <button type="button" class="btn btn-outline-primary button"
                        [routerLink]="['/cursos/']">Regresar</button>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>